
body{                   /*Espaçamentos conteúdo geral*/
   margin: 0px;
   padding: 0px;
   font-family: Arial, Helvetica, sans-serif;
}
header{             /*Comportamento conteúdo cabeçalho*/
    display: flex;
    justify-content: center;
    height: 120px;
}
.container{         /*Container geral terá  divs logo e menu*/
    width: 990px;
    display: flex;
    justify-content: space-between;
}
.logo{            /*Comportamento conteúdo na div*/
    display: flex;       
    align-items: center;
}
.menu{            /*Comportamento conteúdo na div*/
    display: flex;
    align-items: center;
}
.logo img{
    width: 200px; /*Definimos o tamnho do logo*/
}
.menuMobile{
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}
.mm_line{
    height: 3px;
    background-color: #39aae1;
}
.nav ul,          /*Retirar estilo da nav*/  
 nav li {
    list-style: none;
    margin:0;
    padding: 0;
}
nav ul{         /*Comportamento das uls no menu*/
    display: flex;
}
nav a{           /*Estilizando link da nav*/   
    display: block; 
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}
nav .active a,  /*Azul quando ativo e com cursor em cima*/
nav a:hover{
    background-color: #39aae1;
    color: white;
}
#banner{
    display: flex;
    justify-content: center;
    background-image:url(../img/bner.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
}
.column{
    flex-direction: column;
}
.banner_headline{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.banner_headline h1 {
    color: #ffffff;
    font-size:70px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    width: 350px;
}
.banner_headline h2 {
    color: #ffffff;
    font-size:21px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}
.banner_options{
    height: 210px;
    display: flex;
}
.banner1, .banner2, .banner3{
 flex:1;
 color: #ffffff;
 padding-left: 20px;
 padding-top: 20px;
}
.banner1{
    background-color: #39aae1;
}
.banner2{
    background-color: #0079c7;
}
.banner3{
    background-color: #2b4c99;
}
.banner_title{
    font-size: 22px;
}
.banner_desc{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner_options a{
    display: inline-block;
    border: 1px solid #ffffff;
    padding: 5px;
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
}
#geral {
    display: flex;
    justify-content: center;
}
#geral section{
    flex: 2;

}
#geral aside{
    flex: 1;

}
.widget{
    flex: 2;
}
.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text{
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}
.widget_title_bar{
    width: 30px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 20px;
}
.square{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.double_square{
    background-color: #36a9e1;
    width: 150px;
    height: 150px;
}
.contact_contact img {
    margin-right: 6px;
}
.contact_contact{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.contact_contact p{
    color: gray;
}
.contact_contact span{
    font-weight: bold;
    color: black;
}
.contact_contact a{
    color: #00538a;
    font-weight: bold;
    font-size: 17px;
}
.contact_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contact_bar{
    width: 100%;
    border: 0.5px solid rgb(158, 154, 154);
    margin-top: 10px;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
article{
    flex:1;
    min-width: 300px;
    margin-right: 20px;
}
article a{
    text-decoration: none;
}
article .news_data{
 display: flex;
 margin-bottom: 30px; 
}
article .news_posted_at{
    background-color: #2b4c99;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}
article .news_comment{
    background-color: #39aae1;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;

}
article .news_thumbnail img{
    width: 100%;
    height: auto;
}
article .news_title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
    font-size: 23px;
}
article .news_resume{
    color: #5c5c5c;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}
footer{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}
.footer_menu{
    display: flex;
}
.fm_1, .fm_2, .fm_3{
    flex: 1;
    color: #ffffff;
    padding: 20px;
}
.fm_1{
    background-color: #39aae1;
}
.fm_2{
    background-color: #0079c7;
}
.fm_3{
    background-color: #2b4c99;
}
.footer_area{
    display: flex;
}
.footer_areaitem{
    flex:1;
    color: #ffffff;
}
.flexColumn{
    flex-direction: column;
}
footer .widget_title_text{
    color: #ffffff;
}
.footer_copy{
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}
footer .midle{
    display: flex;
    justify-content: space-between;
    color: #6d6d6d;
    font-size: 15px;
}
footer .paragraph{
    color: #6d6d6d;
    font-size: 15px;
}
footer .email{
    color:#ffffff;
    font-size: 15px;
    margin-right: 10px;
}
footer .icons img{
    width: 30px;
    border: 3px solid #2c2c2c;
    margin-right: 10px;
    border-radius: 100%;
}
footer img:hover{
    border: 3px solid #616060;
}

footer .paragraph_midle{
    font-size: 15px;
}
footer .blue_data{
    color: #36a9e1;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}

@media (max-width:769px){
    .banner_headline h1{
        font-size: 50px;
    }
    .banner_headline h2{
        font-size: 20px;
    }
    .banner_options {
        height: auto;
        flex-direction: column;
    }
    .banner1, .banner2, .banner3{
        padding: 15px;
    }
    .container{
        flex-direction: column;
    }
    #geral section{
        padding: 20px;
    }
    #geral aside{ 
        padding: 20px;
    }
    .footer_menu, .footer_area{
        flex-direction: column;
    }
    .footer_area{
        padding: 20px;
    }
    .footer_copy{
        padding-left: 20px;
    }
    header .container{
        flex-direction: row;
    }
    nav ul{
        flex-direction: column;
        display: none; 
        left: -40px;
        margin-top: 0px;
        background-color: white;
        width: 100%;
        position: absolute;
    }
    header{
        height: auto;
    }
    .logo{
        padding: 20px;
    }
    .menuMobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .double_square {
    background-color: #36a9e1;
    width: 200px;
    height: 200px;
    margin: auto;
    }
}